body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

h1,h2,h4 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
    background-color:;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

ul {
    list-style-type: none;
}

#header_title {
    background-color: #808782;
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: #656565;
}

nav ul {
    display: flex;
    justify-content: space-between;
}





