section {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;

    h2 {
        padding: 1em 1.5em;
        border-radius: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 2em;
        margin-top: 2em;
    }
}

.blue_back {
    background-color: #C0D6DF;
}

.white_back {
    background-color: white;
}

img {
  width: 2em;
}

#photo_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;

    img {
        width: 25em;
    }

    #about_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }
}