section {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;

    h2 {
        padding: 1em 1.5em;
        border-radius: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 2em;
        margin-top: 2em;
    }
}

.blue_back {
    background-color: #C0D6DF;
}

.white_back {
    background-color: white;
}

#hobbies img {
    width: 2em;
}
#photo_text {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 25em;
    }

    #about_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }
}

#list_skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0;

    .category {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .logo {
            display: flex;
            justify-content: center;
            width: 90%;
            justify-content: space-between;
            height: max-content;

            .logo_title {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding-bottom: 0;
                height: max-content;
            }
    
            img {
                height: 40%;
            }

        }
    }
}

#skills {
    padding-bottom: 3em;
}